@define-color background-color #1a1b26;
@define-color border-color #33354a;
@define-color label #a9b1d6;
@define-color image #a9b1d6;
@define-color progress #a9b1d6;

window {
  border-radius: 999;
  opacity: 0.97;
  border: 1px solid @border-color;
  padding: 0;

  background-color: @background-color;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
  -gtk-icon-transform: scale(0.5);
}

progressbar {
  border-radius: 999;
}

progress {
  background-color: @progress;
}

